<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta name="description" content="Bot para moderação de comunidade de forma fácil e simplificada">
    <link rel="icon" type="image/x-icon" href="./img/Aprenda-Mais-logo.ico">
    <title>Manual de uso de Software</title>
</head>
<body>
    <header class="cabecalho bg-blue text-light text-center">
        <div class="container">
            <h1 class="conteudo-principal-escrito-titulo">Aprenda +</h1>
            <nav class="cabecalho-menu">
                <a class="cabecalho-menu-item" href="../Template/aluno.php">AprendaMais</a>
                <a class="cabecalho-menu-item" href="../Homepage/manual.html">Manual</a>
                <a class="cabecalho-menu-item" href="../Homepage/contato.html">Contato</a>
            </nav>
        </div>
    </header>
    
    <main class="conteudo">
        <div class="container">
    <section class="conteudo-principal-escrito mt-5">
        <h1></h1>
        <h3 class="conteudo-principal-escrito-subtitulo">Sistema de análise de dados de uma forma inovadora</h3>
        <p class="conteudo-secundario-paragrafo">Nosso projeto trata da criação de um algoritmo de regressão linear que busca avaliar a relação entre a quantidade de faltas de um aluno e suas notas</p>

    </section>
</div>
<div class="container">
    <section class="conteudo-secundario mt-5">
    <h3 class="conteudo-secundario-titulo">O que podememos oferecer ?</h3>
    <p class="conteudo-secundario-paragrafo">1. Integrar seu <strong>Sistema de gestão escolar</strong></p>
    <p class="conteudo-secundario-paragrafo">2. Realizar <strong>Análise de dados</strong> baseado no desempenho dos seus alunos</p>
    <p class="conteudo-secundario-paragrafo">3. Exibir <strong>Previsões de notas</strong> relacionando a quantidade de faltas em determinada matéria</p>
    </section>
</div>
    </section>
</main>
<footer class="rodape bg-blue text-light text-center">
    <div class="container">
        <h2 class="rodape-imagem">Senai Camaçari</h2>
    </div>
</footer>
</body>
</html>